/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
.dynamic-circle {
    position: absolute;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
  }

  .custom-font {
  font-family: "Gothic A1", sans-serif; /* 원하는 글꼴로 변경하세요 */
}

